<!DOCTYPE html>
<html>
<head>
    <title>Guestbook</title>
</head>
<body>
    <h1>Guestbook</h1>
    <form action="/sign" method="post">
        <label for="guestbook_name">Name:</label>
        <input type="text" name="guestbook_name" id="guestbook_name">
        <br>
        <label for="guestbook_message">Message:</label>
        <textarea name="guestbook_message" id="guestbook_message" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Sign Guestbook">
    </form>
</body>
</html>
